.cache/
cover.out

archives/
bin/
certs/
dist/

node_modules

.DS_Store

*renv/
*.venv/
.envrc

# Visual Studio Code
.vscode/*
!.vscode/recommended.settings.json
!.vscode/launch.json
!.vscode/tasks.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix
.pnpm-store
.Rproj.user

# Possible e2e tests deployment assets
test/e2e/content-workspace/**/.posit
screenshots/

# license files should not be commited to this repository
*.lic