.cache/
cover.out

archives/
bin/
certs/
dist/

node_modules

.DS_Store

# Visual Studio Code
.vscode/*
!.vscode/recommended.settings.json
!.vscode/tasks.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix
web-old
.pnpm-store
.Rproj.user
