.cache/
cover.out

bin/
certs/

# Visual Studio Code
.vscode/*
!.vscode/recommended.settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix
web-old
.pnpm-store
