vendor

# VSCode Extension
extensions/vscode/out
test/sample-content
extensions/vscode/.vscode-test
test/e2e/logs

# webdriver.io service
extensions/vscode/dist
extensions/vscode/assets/icons/template/mapping.json
extensions/vscode/node_modules
extensions/vscode/webviews/homeView/node_modules
extensions/vscode/webviews/homeView/dist
