# Workaround for https://github.com/microsoft/vscode-vsce/issues/580
../..

.vscode/**
.vscode-test/**
src/**
node_modules
out/
scripts/
.yarnrc
**/_.map
\*\*/_.ts
CONTRIBUTING.md
vsc-extension-quickstart.md

# Include codicons dist from node_modules
!node_modules/@vscode/codicons/dist

# Ignore all webview files except the build directories

webviews/homeView/src/**
webviews/homeView/index.html
webviews/homeView/package.json
webviews/homeView/package-lock.json
webviews/homeView/README.md
webviews/homeView/node_modules/**

# Ignore configuration files

**/.gitignore
**/justfile
**/.eslintrc.json
**/tsconfig*.json
**/vite.config.ts
