*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  padding: 0;
}

.webview-link {
  pointer-events: auto;
  opacity: 1;
  cursor: pointer;
}

.w-full {
  width: 100%;
}

.text-foreground {
  color: var(--vscode-foreground);
}

.text-placeholder {
  color: var(--vscode-input-placeholderForeground);
}

.text-icon {
  color: var(--vscode-icon-foreground);
}

.text-list-deemphasized {
  color: var(--vscode-list-deemphasizedForeground);
}

.text-error {
  color: var(--vscode-list-errorForeground);
}

.text-git-added {
  color: var(--vscode-gitDecoration-addedResourceForeground);
}

.text-git-modified {
  color: var(--vscode-gitDecoration-modifiedResourceForeground);
}

.text-git-deleted {
  color: var(--vscode-gitDecoration-deletedResourceForeground);
}

.text-git-renamed {
  color: var(--vscode-gitDecoration-renamedResourceForeground);
}

.text-git-stage-modified {
  color: var(--vscode-gitDecoration-stageModifiedResourceForeground);
}

.text-git-stage-deleted {
  color: var(--vscode-gitDecoration-stageDeletedResourceForeground);
}

.text-git-untracked {
  color: var(--vscode-gitDecoration-untrackedResourceForeground);
}

.text-git-conflicting {
  color: var(--vscode-gitDecoration-conflictingResourceForeground);
}
