*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  padding: 0;
}

::selection {
  background-color: rgba(195, 183, 184, 0.15);
}

.webview-link {
  pointer-events: auto;
  opacity: 1;
  cursor: pointer;
}

.w-full {
  width: 100%;
}

.flex-grow-0 {
  flex-grow: 0;
}

.flex-grow {
  flex-grow: 1;
}

.text-sm {
  font-size: 11px;
}

.text-foreground {
  color: var(--vscode-foreground);
}

.text-description {
  color: var(--vscode-descriptionForeground);
}

.text-placeholder {
  color: var(--vscode-input-placeholderForeground);
}

.text-icon {
  color: var(--vscode-icon-foreground);
}

.text-list-emphasized {
  color: var(--vscode-list-activeSelectionForeground);
}

.text-list-deemphasized {
  color: var(--vscode-list-deemphasizedForeground);
}

.text-sidebar-section-header {
  color: var(--vscode-sideBarSectionHeader-foreground);
}

.text-warning {
  color: var(--vscode-list-warningForeground);
}

.border-warning {
  border-color: var(--vscode-list-warningForeground);
}

.text-error {
  color: var(--vscode-list-errorForeground);
}

.border-error {
  border-color: var(--vscode-list-errorForeground);
}

.text-git-added {
  color: var(--vscode-gitDecoration-addedResourceForeground);
}

.text-git-modified {
  color: var(--vscode-gitDecoration-modifiedResourceForeground);
}

.text-git-deleted {
  color: var(--vscode-gitDecoration-deletedResourceForeground);
}

.text-git-renamed {
  color: var(--vscode-gitDecoration-renamedResourceForeground);
}

.text-git-stage-modified {
  color: var(--vscode-gitDecoration-stageModifiedResourceForeground);
}

.text-git-stage-deleted {
  color: var(--vscode-gitDecoration-stageDeletedResourceForeground);
}

.text-git-untracked {
  color: var(--vscode-gitDecoration-untrackedResourceForeground);
}

.text-git-conflicting {
  color: var(--vscode-gitDecoration-conflictingResourceForeground);
}

.opacity-100 {
  opacity: 1;
}
