anyio
asgiref
blinker==1.6.2
click
dash-bootstrap-components==1.4.1
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
dash==2.9.3
fastapi
flask==2.3.2
h11
idna
itsdangerous==2.1.2
jinja2==3.1.2
markupsafe==2.1.2
numpy==1.24.3
packaging==23.1
pandas==2.0.1
plotly==5.14.1
pydantic
pyjwt
python-dateutil==2.8.2
pytz==2023.3
rsconnect-python
semver
six
six==1.16.0
sniffio
starlette
tenacity==8.2.2
typing-extensions
tzdata==2023.3
uvicorn
werkzeug==2.3.8
