anyio==3.6.2
asgiref==3.6.0
blinker==1.6.2
click==8.1.3
dash==2.9.3
dash-bootstrap-components==1.4.1
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
fastapi==0.95.2
flask==2.3.2
h11==0.14.0
idna==3.4
itsdangerous==2.1.2
jinja2==3.1.2
markupsafe==2.1.2
numpy==1.24.3
packaging==23.1
pandas==2.0.1
plotly==5.14.1
pydantic==1.10.7
pyjwt==2.7.0
python-dateutil==2.8.2
pytz==2023.3
rsconnect-python==1.17.0
semver==2.13.0
six==1.16.0
sniffio==1.3.0
starlette==0.27.0
tenacity==8.2.2
typing-extensions==4.5.0
tzdata==2023.3
uvicorn==0.22.0
werkzeug==2.3.8
