ipython==8.16.1
altair
bokeh
bottle
dash
dash_bootstrap_components
dash_core_components
dash_html_components
dash_table
dotenv
falcon
fastapi==0.109.0
fastapitableau
flasgger
flask==2.3.3
flask_api
flask_restful
flask_restx==1.1.0
ipywidgets==8.1.1
joblib
matplotlib==3.8.0
numpy==1.26.1
pandas==1.4.1
pins
plotly
pycnic
pydantic==2.4.2
quart
rsconnect_python==1.21.1.dev60+gadd8610
sanic==23.6.0
shiny==0.6.1.1
shinywidgets
sklearn
streamlit
vetiver
PyYAML==6.0.1
