appdirs
black
certifi
chardet
click
colorama
distlib
filelock
Flask
fuzzbucket-client @ https://cdn.rstudio.com/connect/fuzzbucket/0.4.3/fuzzbucket_client-0.4.3-py3-none-any.whl
idna
inflect
itsdangerous
Jinja2
keyring
ldif
MarkupSafe
mypy-extensions
pathspec
pyasn1
pyasn1-modules
pyftpsync
PyYAML
regex
requests
six
toml
typed-ast
typing-extensions
urllib3
virtualenv
Werkzeug
