**/*.go
-vendor/**

web/*.js
web/*.ts
web/src/**/*.js
web/src/**/*.ts
web/src/**/*.vue
-web/vite.config.ts
-web/**/*.d.ts

-scripts/**
-web/cypress.config.ts
-web/vitest.config.ts

extensions/vscode/src/**/*.ts
extensions/vscode/src/**/*.js
extensions/vscode/webviews/homeView/src/*.ts
-extensions/vscode/webviews/homeView/src/*.d.ts
extensions/vscode/webviews/homeView/src/*.js
extensions/vscode/webviews/homeView/src/*.vue
