:root {
  --posit-light-blue-1: #D1DBE5;
  --posit-light-blue-2: #A2B8CB;
  --posit-light-blue-3: #7494B1;
  --posit-blue: #447099;
  --posit-dark-blue-1: #305775;
}

h1, h2, h3, h4, h5, h6, p, dd, dl {
  margin: 0;
}

.body--light {
  background-color: var(--vscode-editor-background, #fafafa);
}

.publisher-layout {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 48px;
  padding-right: 48px;
}

@media (max-width: 1024px) {
  .publisher-layout {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media (max-width: 600px) {
  .publisher-layout {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.body--light {
  --focus-shadow-color: 0, 0, 0;
  --focus-shadow-color-opacity: 0.14;
  --focus-shadow-border-color: 0, 0, 0;
  --focus-shadow-border-color-opacity: 0.2;
}

.body--light a {
  color: var(--vscode-textLink-foreground, var(--posit-blue));
}

.body--light a:hover {
  color: var(--vscode-textLink-activeForeground, var(--posit-dark-blue-1));
}

.body--dark {
  --focus-shadow-color: 255, 255, 255;
  --focus-shadow-color-opacity: 0.18;
  --focus-shadow-border-color: 255, 255, 255;
  --focus-shadow-border-color-opacity: 0.25;
}

.body--dark a {
  color: var(--vscode-textLink-foreground, var(--posit-light-blue-2));
}

.body--dark a:hover {
  color: var(--vscode-textLink-activeForeground, var(--posit-light-blue-1));
}

.focus-shadow:focus,
.focus-shadow:focus-within {
  --focus-shadow: 0 0 0 4px rgba(var(--focus-shadow-color), var(--focus-shadow-color-opacity));
  --border-shadow: 0 0 1px 1px rgba(var(--focus-shadow-border-color), var(--focus-shadow-border-color-opacity));
  box-shadow: var(--focus-shadow), var(--border-shadow);
}

.space-between-y-xs > :not([hidden]) ~ :not([hidden]) {
  margin-top: 4px;
}
.space-between-y-sm > :not([hidden]) ~ :not([hidden]) {
  margin-top: 8px;
}
.space-between-y-md > :not([hidden]) ~ :not([hidden]) {
  margin-top: 16px;
}
.space-between-y-lg > :not([hidden]) ~ :not([hidden]) {
  margin-top: 24px;
}
.space-between-y-xl > :not([hidden]) ~ :not([hidden]) {
  margin-top: 48px;
}

.space-between-x-xs > :not([hidden]) ~ :not([hidden]) {
  margin-left: 4px;
}
.space-between-x-sm > :not([hidden]) ~ :not([hidden]) {
  margin-left: 8px;
}
.space-between-x-md > :not([hidden]) ~ :not([hidden]) {
  margin-left: 16px;
}
.space-between-x-lg > :not([hidden]) ~ :not([hidden]) {
  margin-left: 24px;
}
.space-between-x-xl > :not([hidden]) ~ :not([hidden]) {
  margin-left: 48px;
}

.gap-xs {
  gap: 4px;
}
.gap-sm {
  gap: 8px;
}
.gap-md {
  gap: 16px;
}
.gap-lg {
  gap: 24px;
}
.gap-xl {
  gap: 48px;
}
.row-gap-xs {
  row-gap: 4px;
}
.row-gap-sm {
  row-gap: 8px;
}
.row-gap-md {
  row-gap: 16px;
}
.row-gap-lg {
  row-gap: 24px;
}
.row-gap-xl {
  row-gap: 48px;
}
.column-gap-xs {
  column-gap: 4px;
}
.column-gap-sm {
  column-gap: 8px;
}
.column-gap-md {
  column-gap: 16px;
}
.column-gap-lg {
  column-gap: 24px;
}
.column-gap-xl {
  column-gap: 48px;
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.body--light .text-low-contrast {
  color: #757575;
}
.body--dark .text-low-contrast {
  color: #9e9e9e;
}
