name: Agent
on:
  workflow_call:
jobs:
  native:
    strategy:
      fail-fast: false
      matrix:
        runner:
          [
            macos-latest,
            windows-latest,
            windows-11-arm,
            ubuntu-latest,
            ubuntu-24.04-arm,
          ]
    runs-on: ${{ matrix.runner }}
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      # setup-just doesn't support Windows ARM64, so install via cargo
      - name: Install just via cargo (Windows ARM64)
        if: runner.os == 'Windows' && runner.arch == 'ARM64'
        run: cargo install just
      - uses: extractions/setup-just@v3
        if: runner.os != 'Windows' || runner.arch != 'ARM64'

      # Install R with rig for our funcitonal tests to ensure we are compatible with it.
      # We aren't used r-lib/actions here becuase rig, especially on windows, installs in
      # slightly different ways (e.g. using a batch file on windows)
      - name: Install rig with apt
        if: ${{ runner.os == 'Linux' }}
        run: |
          sudo curl -L https://rig.r-pkg.org/deb/rig.gpg -o /etc/apt/trusted.gpg.d/rig.gpg
          sudo sh -c 'echo "deb http://rig.r-pkg.org/deb rig main" > /etc/apt/sources.list.d/rig.list'
          sudo apt update
          sudo apt install -y r-rig
      - name: Install rig with brew
        if: ${{ runner.os == 'macOS' }}
        run: |
          brew tap r-lib/rig
          brew install --cask rig
      - name: Install rig with Choco
        if: ${{ runner.os == 'Windows' }}
        run: choco install rig

      - name: Install R with rig
        run: rig add release
      - name: Install R packages
        run: Rscript -e "install.packages(c('renv', 'glue'))"
      - uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
      # Run tests without `-short` to run functional tests
      # TODO: https://github.com/posit-dev/publisher/issues/2649
      - run: just test ./...
