name: Bats
on:
  workflow_call:
jobs:
  native:
    env:
      DOCKER: false
    strategy:
      matrix:
        runner: [macos-latest, windows-latest, ubuntu-latest]
    runs-on: ${{ matrix.runner }}
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: extractions/setup-just@v1
      - uses: actions/download-artifact@v3
        with:
          name: executables
          path: bin
      - run: chmod -R +x ./bin
      - run: just bats
  docker:
    env:
      DOCKER: true
    runs-on: ubuntu-latest
    steps:
      - uses: crazy-max/ghaction-github-runtime@v3
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: extractions/setup-just@v1
      - uses: docker/setup-qemu-action@v3
      - uses: docker/setup-buildx-action@v3
      - uses: actions/cache@v3
        with:
          path: var-cache-apt
          key: var-cache-apt-${{ hashFiles('./build/ci/Dockerfile') }}
      - uses: reproducible-containers/buildkit-cache-dance@v2.1.2
        with:
          cache-source: var-cache-apt
          cache-target: /var/cache/apt
      - uses: actions/cache@v3
        with:
          path: var-lib-apt
          key: var-lib-apt-${{ hashFiles('./build/ci/Dockerfile') }}
      - uses: reproducible-containers/buildkit-cache-dance@v2.1.2
        with:
          cache-source: var-lib-apt
          cache-target: /var/lib/apt
      - uses: actions/download-artifact@v3
        with:
          name: executables
          path: bin
      - run: chmod -R +x ./bin
      - run: just bats
