name: Bats
on:
  workflow_call:
jobs:
  native:
    env:
      DOCKER: false
    strategy:
      fail-fast: false
      matrix:
        runner: [macos-latest, windows-latest, ubuntu-latest]
    runs-on: ${{ matrix.runner }}
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: extractions/setup-just@v1
      - uses: actions/download-artifact@v3
        with:
          name: executables
          path: bin
      - run: chmod -R +x ./bin
      - run: just bats ci
  docker:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: ./.github/actions/setup
      - uses: actions/download-artifact@v3
        with:
          name: executables
          path: bin
      - run: chmod -R +x ./bin
      - run: just bats ci
