name: Bats
on:
  workflow_call:
jobs:
  native:
    env:
      DOCKER_CONNECT: true
      # deploy only these content
      CONTENT: "fastapi-simple quarto-website-py"
      CONNECT_LICENSE: ${{ secrets.CONNECT_LICENSE }}
      PYTHON_VERSION: 3.12.1
      QUARTO_VERSION: 1.4.549
    strategy:
      fail-fast: false
      matrix:
        runs-on: [ubuntu-latest]
    runs-on: ${{ matrix.runs-on }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: ./.github/actions/setup
      - uses: actions/checkout@v4
        with:
          repository: rstudio/connect-content
          path: "test/content"
          sparse-checkout: bundles
          sparse-checkout-cone-mode: false
          token: ${{ secrets.CONNECT_PAT }}
      - uses: actions/setup-python@v5
        with:
          python-version: 3.12.1
      - uses: r-lib/actions/setup-r@v2
        with:
          r-version: 4.3.0
      - uses: quarto-dev/quarto-actions/setup@v2
        with:
          version: 1.4.549
      - uses: extractions/setup-just@v2
      - uses: actions/download-artifact@v4
        with:
          name: bin
          path: bin

      - run: chmod -R +x ./bin
      - run: echo "${FUZZBUCKET_SSH_KEY}" > test/bats/fuzzbucket-ssh-key && chmod 600 test/bats/fuzzbucket-ssh-key
      - run: just bats install
      - run: just bats test common
      - run: just bats test init
      - run: just bats test deploy
