name: Build
on:
  workflow_call:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: ./.github/actions/setup
      - run: just web install
      - run: just web build
      - run: just build
      - uses: actions/upload-artifact@v3
        id: upload
        with:
          name: bin
          path: bin/**/*
