name: Build
on:
  workflow_call:
permissions:
  contents: read
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - uses: ./.github/actions/setup
      - run: just build
      - uses: actions/upload-artifact@v6
        id: upload
        with:
          name: bin
          path: bin/**/*
