name: Cypress-nightly
on:
  workflow_call:
jobs:
  native:
    env:
      DOCKER: false
      FUZZBUCKET_SSH_KEY: ${{ secrets.FUZZBUCKET_SSH_KEY }}
      FUZZBUCKET_URL: ${{ secrets.FUZZBUCKET_URL }}
      FUZZBUCKET_CREDENTIALS: ${{ secrets.FUZZBUCKET_CREDENTIALS }}
      CI: true
    strategy:
      fail-fast: false
      matrix:
        os: [macos-latest, windows-latest, ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: python
        uses: actions/setup-python@v4
        with:
          python-version: 3.11
      - name: quarto
        uses: quarto-dev/quarto-actions/setup@v2
        with:
          version: 1.4.549

      - uses: extractions/setup-just@v1
      - uses: actions/download-artifact@v3
        with:
          name: bin
          path: bin
      - uses: actions/checkout@v4
        with:
          repository: rstudio/connect-content
          path: 'test/content'
          sparse-checkout: bundles
          sparse-checkout-cone-mode: false
          token: ${{ secrets.CONNECT_PAT }}

      - run: chmod -R +x ./bin
      - run: echo "${FUZZBUCKET_SSH_KEY}" > test/cy/fuzzbucket-ssh-key && chmod 600 test/cy/fuzzbucket-ssh-key
      - run: just cy install
      - run: just cy test
      # disable cypress contract tests until new deploy workflow
      # - run: just cy test-contract
      - run: just bats install
      - run: just bats test common
      - run: just bats test init
      - run: just bats test accounts
      - run: just bats test deploy

      # Videos are captured whether the suite fails or passes
      - name: Save videos
        uses: actions/upload-artifact@v3
        if: failure()
        with:
          name: cypress-videos
          path: test/cy/cypress/videos
          if-no-files-found: ignore
          retention-days: 1

      # Screenshots are only captured on failure
      - name: Save screenshots
        uses: actions/upload-artifact@v3
        if: failure()
        with:
          name: cypress-screenshots
          path: test/cy/cypress/screenshots
          if-no-files-found: ignore
          retention-days: 1
