name: Unit-Test
on: [workflow_call]
permissions:
  contents: read
jobs:
  test:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: extensions/vscode/webviews/homeView
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: "22"
          cache: "npm"
          cache-dependency-path: "**/package-lock.json"
      - run: npm install --prefix ../..
      - run: npm install
      - run: npm test
