name: Lint
on: [workflow_call]
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - uses: extractions/setup-just@v3
      - uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
      - uses: actions/setup-node@v6
        with:
          node-version: "22"
          cache: "npm"
          cache-dependency-path: "**/package-lock.json"
      - run: just npm-install
      - run: just check-format

      - run: just vscode deps
      - run: just vscode lint

      - run: just install
      - run: just lint
