name: Main
on:
  push:
    branches:
      - main
  workflow_dispatch:
jobs:
  # Unit Tests
  agent:
    uses: ./.github/workflows/agent.yaml
  vscode:
    uses: ./.github/workflows/vscode.yaml

  # Build
  build:
    uses: ./.github/workflows/build.yaml
  sign:
    needs: build
    uses: ./.github/workflows/sign.yaml
    secrets: inherit
  package:
    needs: sign
    uses: ./.github/workflows/package.yaml
  archive:
    needs: sign
    uses: ./.github/workflows/archive.yaml

  # E2E Tests
  e2e:
    needs: [package, agent, vscode]
    uses: ./.github/workflows/e2e.yaml
    secrets: inherit

  upload:
    needs:
      - archive
      - package
    uses: ./.github/workflows/upload.yaml
    secrets: inherit

  # License generation
  generate-licenses:
    uses: ./.github/workflows/generate-licenses.yaml
    with:
      pr_changes: true
      fail_on_forbidden: true
    secrets: inherit
