name: Nightly
on:
  schedule:
    - cron: "0 06 * * *"
  workflow_dispatch:
jobs:
  agent:
    uses: ./.github/workflows/agent.yaml
  build:
    uses: ./.github/workflows/build.yaml
  package:
    needs: build
    uses: ./.github/workflows/package.yaml
  e2e:
    needs: [package]
    uses: ./.github/workflows/e2e.yaml
    secrets: inherit

  # Extensions
  vscode:
    uses: ./.github/workflows/vscode.yaml
