name: Package
on:
  pull_request:
  workflow_call:
jobs:
  package:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: extractions/setup-just@v1
      - uses: docker/setup-qemu-action@v3
      - uses: docker/setup-buildx-action@v3
      - id: get-tag
        run: echo "tag=$(just tag)" >> "$GITHUB_OUTPUT"
      - uses: docker/build-push-action@v5
        with:
          context: .
          file: ./build/package/Dockerfile
          load: true
          tags: ${{ steps.get-tag.outputs.tag }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
      - run: just build
      - uses: actions/upload-artifact@v3
        id: upload
        with:
          name: executables
          path: bin/**/*
