name: Package
on:
  workflow_call:
jobs:
  vscode:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: ./.github/actions/setup
      - uses: actions/download-artifact@v3
        with:
          name: bin
          path: bin
      - run: chmod -R +x ./bin
      - run: just package
      - uses: actions/upload-artifact@v3
        id: upload
        with:
          name: packages
          path: dist/**/*
