name: Pull Request
on:
  pull_request:
  workflow_dispatch:
concurrency:
  group: ${{ github.head_ref }}
  cancel-in-progress: true
jobs:
  # Linting and formatting
  lint:
    uses: ./.github/workflows/lint.yaml
  # Unit Tests
  agent:
    uses: ./.github/workflows/agent.yaml
  web:
    uses: ./.github/workflows/web.yaml
  vscode:
    uses: ./.github/workflows/vscode.yaml

  # Build
  build:
    uses: ./.github/workflows/build.yaml
  package:
    needs: build
    uses: ./.github/workflows/package.yaml
  archive:
    needs: build
    uses: ./.github/workflows/archive.yaml
  upload:
    needs:
      - archive
      - package
    uses: ./.github/workflows/upload.yaml
    secrets: inherit

  # Integration Tests
  bats:
    needs: build
    secrets: inherit
    uses: ./.github/workflows/bats.yaml
  cypress:
    needs: build
    uses: ./.github/workflows/ui.yaml
  vscode-ui:
    needs: build
    secrets: inherit
    uses: ./.github/workflows/vscode-ui.yaml
