name: Release
on:
  push:
    branches:
      - tdstein/release
    tags:
      - "v*.*.*"
jobs:
  package:
    uses: ./.github/workflows/package.yaml
  release:
    runs-on: ubuntu-latest
    needs:
      - package
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: actions/download-artifact@v3
        with:
          name: executables
          path: bin
      - id: get-prerelease
        run: echo "prerelease=$(./scripts/is-prerelease.bash)" >> "$GITHUB_OUTPUT"
      - name: Release
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          draft: false
          prerelease: ${{ steps.get-prerelease.outputs.prerelease == 'true' }}
          files: bin/**/*
