name: Release
on:
  push:
    tags:
      - "v*.*.*"
jobs:
  build:
    uses: ./.github/workflows/build.yaml
  package:
    needs:
      - build
    uses: ./.github/workflows/package.yaml
  archive:
    needs:
      - build
    uses: ./.github/workflows/archive.yaml
  upload:
    needs:
      - archive
      - package
    uses: ./.github/workflows/upload.yaml
    secrets: inherit
  release:
    runs-on: ubuntu-latest
    needs:
      - archive
      - package
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: extractions/setup-just@v1
      - uses: actions/download-artifact@v3
        with:
          name: archives
          path: archives
      - uses: actions/download-artifact@v3
        with:
          name: packages
          path: dist
      - id: get-prerelease
        run: echo "prerelease=$(just pre-release)" >> "$GITHUB_OUTPUT"
      - uses: softprops/action-gh-release@v1
        with:
          draft: false
          prerelease: ${{ steps.get-prerelease.outputs.prerelease == 'true' }}
          files: |
            archives/**/*
            dist/**/*
