name: Release
on:
  push:
    tags:
      - "v*.*.*"
jobs:
  build:
    uses: ./.github/workflows/build.yaml
  package:
    needs:
      - build
    uses: ./.github/workflows/package.yaml
  archive:
    needs:
      - build
    uses: ./.github/workflows/archive.yaml
  upload:
    needs:
      - archive
      - package
    uses: ./.github/workflows/upload.yaml
    secrets: inherit
  release:
    runs-on: ubuntu-latest
    needs:
      - archive
      - package
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
        with:
          fetch-depth: 0
      - uses: extractions/setup-just@v3
      - uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7
        with:
          name: archives
          path: archives
      - uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7
        with:
          name: dist
          path: dist
      - id: get-prerelease
        run: echo "prerelease=$(just pre-release)" >> "$GITHUB_OUTPUT"
      - uses: softprops/action-gh-release@v2
        with:
          draft: false
          prerelease: ${{ steps.get-prerelease.outputs.prerelease == 'true' }}
          files: |
            archives/**/*
            dist/**/*
