name: Cypress
on:
  workflow_call:
jobs:
  native:
    env:
      DOCKER: false
    strategy:
      fail-fast: false
      matrix:
        os: [macos-latest, windows-latest, ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: extractions/setup-just@v2
      - uses: actions/download-artifact@v3
        with:
          name: bin
          path: bin
      - run: chmod -R +x ./bin
      - run: just cy install
      - run: just cy test


      # Videos are captured whether the suite fails or passes
      - name: Save videos
        uses: actions/upload-artifact@v3
        if: failure()
        with:
          name: cypress-videos
          path: test/cy/cypress/videos
          if-no-files-found: ignore
          retention-days: 1

      # Screenshots are only captured on failure
      - name: Save screenshots
        uses: actions/upload-artifact@v3
        if: failure()
        with:
          name: cypress-screenshots
          path: test/cy/cypress/screenshots
          if-no-files-found: ignore
          retention-days: 1
