name: VSCode
on:
  workflow_call:
permissions:
  contents: read
env:
  VSCODE_VERSION: stable
jobs:
  native:
    strategy:
      fail-fast: false
      matrix:
        runner:
          [
            macos-latest,
            windows-latest,
            windows-11-arm,
            ubuntu-latest,
            ubuntu-24.04-arm,
          ]
    runs-on: ${{ matrix.runner }}
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - uses: ./.github/actions/setup
      - uses: actions/setup-node@v6
        with:
          node-version: "22"
      - id: get-date
        run: echo "date=$(/bin/date -u "+%Y%m%d")" >> $GITHUB_OUTPUT
        shell: bash
      - uses: actions/cache/restore@v5
        id: cache
        with:
          path: ./extensions/vscode/.vscode-test/vscode-*
          key: ${{ matrix.runner }}-vscode-${{ env.VSCODE_VERSION }}-${{ steps.get-date.outputs.date }}
      - run: just vscode configure
      - run: just vscode test
      - uses: actions/cache/save@v5
        if: steps.cache.outputs.cache-hit != 'true'
        with:
          path: ./extensions/vscode/.vscode-test/vscode-*
          key: ${{ matrix.runner }}-vscode-${{ env.VSCODE_VERSION }}-${{ steps.get-date.outputs.date }}
